body {
  background-color: #669975;
}

.heading {
color: yellow;
font-size: 40px;
text-transform: capitalize;
text-align: center;
margin-top: 30px;
font-family: Fraunces;
}

nav {
      background-color: #669975;
      color: #yellow;
      font-size: 25px;
      font-family: "Calibri";
      text-align: center;
      margin-top: 30px;
      display:inline-block;
      width:100%;
      padding: 0.1em 0.6em;
      border-collapse:collapse;
      max-height:100px;
      margin-top:-1px;
      margin-left:30%;
      overflow-y:hidden;
    }

.photo1 {
  margin-top: 10px;
}
    .pre {
      color: yellow;
    }

.svaldbard_heading {
  margin-left: 130px;
  margin-top: 70px;
}

.facts_heading {
  margin-left: 130px;
  margin-top: 70px;
}

.pre {
  color: yellow;
}
